fastapi
uvicorn
langchain
langchain-core
langgraph
transformers
torch
accelerate
bitsandbytes
sentence-transformers
chromadb
pandas
langchain-community
langchain-huggingface
huggingface_hub
bitsandbytes>=0.46.1
openai
prompts